body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container1 {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #343a40;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar nav ul {
    margin-left: 10%;
    margin-top: 40%;
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 40px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.main-content h2{
margin-bottom: 20px;
}

.user-info {
    margin-bottom: 20px;
}

.info-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.info-details {
    flex: 1;
}

.info-details p {
    margin: 5px 0;
}

.update-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.update-btn:hover {
    background-color: #0056b3;
}

.buttons {
    margin-top: 20px;
}

.logout-btn {
    display: inline-block;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.logout-btn:hover {
    background-color: #c82333;
}